body {
    background-image: url(https://images.discerningassets.com/image/upload/c_fit,h_1000,w_1000/c_fit,fl_relative,h_1.0,o_100,w_1.0/v1556655689/Helsinki_Temple_-_Covenant_Path_Robert_A_Boyd_web_zgs6ex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu {
    background-color: rgba(255, 255, 255, 0.719);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    max-width: 800px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
.text {
    list-style-position: inside;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 100px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
.question {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-bottom: 100px;
    margin-top: 40px;
}
a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }